.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden;
}
.login-card .card-body {
  padding: 85px 60px 60px;
}

#seccion2 {
  background-color: #1e213a;
  color: white;
  background-position: center;
  /* background-image: url(Img/Cloud-background2.png); */
  background-repeat: no-repeat;
  z-index: 0;
}

.SecondSection {
  background-color: #100e1d;
}

@media (max-width: 422px) {
  .login-card .card-body {
    padding: 35px 24px;
  }
}
