code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #d0d0ce;
  min-height: 100vh;
}

#seccion2 {
  background-color: #1e213a;
  color: white;
  background-position: center;
  /* background-image: url(/public/Cloud-background2.png); */
  background-repeat: no-repeat;
  z-index: 0;
}
